<div class="container topmargin-lg bottommargin-lg clearfix">

    <div class="divcenter" style="max-width: 960px">
        <div class="heading-block center nobottomborder">
            <h2 class="ls2 t700">Your Priority is our Priority</h2>
            <span>Competently benchmark backward-compatible technologies vis-a-vis<br>parallel convergence. Rapidiously innovate stand-alone.</span>
        </div>
        <div class="tabs tabs-alt tabs-responsive tabs-justify clearfix" id="tab">

            <ul class="tab-nav clearfix">
                <li><a href="#tabs-1"><i class="icon-line2-key"></i>24x7 Available</a></li>
                <li><a href="#tabs-2"><i class="icon-line2-social-dropbox"></i>Complete Solutions</a></li>
                <li><a href="#tabs-3"><i class="icon-line2-drop"></i>Water Treatments</a></li>
                <li><a href="#tabs-4"><i class="icon-line2-pointer"></i>Location Independant</a></li>
            </ul>

            <div class="tab-container">

                <div class="tab-content clearfix" id="tabs-1">
                    <div class="story-box description-left clearfix">
                        <div class="story-box-image">
                            <img src="{{ asset('build/front/static/philo.jpg') }}" alt="story-image">
                        </div>
                        <div class="story-box-info">
                            <h3 class="story-title">We help people to create new Website.</h3>
                            <div class="story-box-content">
                                <p>Uniquely productize cross-unit action items with multifunctional imperatives. Quickly communicate collaborative relationships rather than timely materials. Progressively foster unique interfaces vis-a-vis backend e-services.</p>
                                <button class="t300 button noleftmargin button-rounded">Read Canvas's story</button>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="tab-content clearfix" id="tabs-2">
                    <div class="story-box clearfix">
                        <div class="story-box-image">
                            <img src="demos/interior-design/images/story/2.jpg" alt="story-image">
                        </div>
                        <div class="story-box-info">
                            <h3 class="story-title">Get better results tomorrow by reading this post.</h3>
                            <div class="story-box-content">
                                <p>Progressively streamline future-proof networks rather than virtual channels. Intrinsicly architect performance based products with B2C communities. Appropriately underwhelm integrated information via superior platforms.</p>
                                <button class="t300 button noleftmargin button-rounded">Read More</button>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="tab-content clearfix" id="tabs-3">
                    <div class="story-box description-left clearfix">
                        <div class="story-box-image">
                            <img src="demos/interior-design/images/story/3.jpg" alt="story-image">
                        </div>
                        <div class="story-box-info">
                            <h3 class="story-title">TK’s recipe of the week: Guiness beef stew.</h3>
                            <div class="story-box-content">
                                <p>Compellingly synthesize technically sound users without technically sound vortals. Rapidiously redefine maintainable leadership with multifunctional strategic theme areas. Appropriately plagiarize business ideas vis-a-vis.</p>
                                <button class="t300 button noleftmargin button-rounded">Read About Me</button>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="tab-content clearfix" id="tabs-4">
                    <div class="story-box clearfix">
                        <div class="story-box-image">
                            <img src="demos/interior-design/images/story/4.jpg" alt="story-image">
                        </div>
                        <div class="story-box-info">
                            <h3 class="story-title">We help people to create new Website.</h3>
                            <div class="story-box-content">
                                <p>Dynamically exploit cross-platform sources vis-a-vis scalable paradigms. Efficiently plagiarize multifunctional internal or "organic" sources before intuitive innovation. Synergistically facilitate goal-oriented ROI vis-a-vis client-focused.</p>
                                <a href="#">Read Deanne's story</a>
                            </div>
                        </div>
                    </div>
                </div>

            </div>

        </div>
    </div>

</div>
