<div class="section nobg notopmargin clearfix">
    <div class="container clearfix">
        <div class="row topmargin-lg clearfix">
            <div class="col-lg-6 nopadding">
                <!-- Youtube Video Link
                ============================================= -->
                <a href="https://www.youtube.com/watch?v=NS0txu_Kzl8" data-lightbox="iframe">
                    <img src="{{ asset('build/front/static/theme/sections/video.jpg') }}" alt="Youtube Video" class="image_fade" style="box-shadow: 0px 0px 25px 0px rgba(0,0,0,0.15); border-radius: 6px;">
                    <i class="icon-play" style="position: absolute; top: 50%; left: 50%; font-size: 60px; color: #FFF; margin-top: -45px; margin-left: -23px"></i>
                </a>
            </div>
            <!-- Video Texts
            ============================================= -->
            <div class="col-lg-6" style="padding-left: 60px;">
                <div class="heading-block topmargin-sm bottommargin-sm noborder">
                    <h3 class="nott" style="font-size: 46px; font-weight: 700; letter-spacing: -2px; line-height: 58px">{{ 'Small Video Our  Customers' }}</h3>
                </div>
                <p class="t400">Interactively facilitate.<br>Tactical systems with compelling materials. Objectively re-engineer diverse relationships long-term impact methodologies.</p>
                <a href="#" class="button-link bottommargin">En savoir plus</a>
            </div>
        </div>
    </div>
</div>