<section id="about">
    <div class="container">
        <div class="section-title text-center">
            <div class="row">
                <div class="col-md-8 col-md-offset-2">
                    <h2 class="text-uppercase title"> {{ 'La philosophie' }} <span class="text-theme-colored font-weight-300">{{ 'd\'audicoci' }}</span> </h2>
                </div>
            </div>
        </div>
        <div class="section-content">
            <div class="row">
                <div class="col-md-5">
                    <div class="img-wrapper">
                        <img src="http://placehold.it/550x420" alt="">
                    </div>
                </div>
                <div class="col-md-7">
                    <p class="lead">
                        We sincerely believe that visiting a dentist shouldn’t be a frightening or stressful experience! We provide an equally comfortable experience of relaxation for all our young and adult customers!
                        stressful experience! We provide an equally comfortable experience of relaxation for all our young and adult customers!
                    </p>
                    <p class="lead">
                        We sincerely believe that visiting a dentist shouldn’t be a frightening or stressful experience! We provide an equally comfortable experience of relaxation for all our young and adult customers!
                        stressful experience! We provide an equally comfortable experience of relaxation for all our young and adult customers!
                    </p>
                    <a class="btn btn-theme-colored btn-lg btn-circled mt-30">{{ 'En savoir plus' }}</a>
                </div>
            </div>
        </div>
    </div>
</section>
